:root {
--colore-principale:red;
--dimensione-testo:18px;
}
*{
    color:var(--colore-principale);
    font-size: var(--dimensione-testo);

}
div {
    
    width: 300px ;
    border:15px ;
    padding:50px ;background-color:blue;
    margin:20px ;
}