:root {
--colore-principale:red;
--dimensione-testo:18px;
--dimensione-padding-div: 20px;
}
*{
    color:var(--colore-principale);
    font-size: var(--dimensione-testo);

}
div {
    
    width: 300px ;
    border:15px ;
    padding: var(--dimensione-padding-div); 
    background-color:blue;
    margin:20px ;
}