:root {
--colore-principale:red;
--dimensione-testo:18px;
--dimensione-padding-div: 20px;
}
*{
    color:var(--colore-principale);
    font-size: var(--dimensione-testo);

}
div {
    width: 300px ;
    border:40px ;
    background-color: aquamarine;
    padding: var(--dimensione-padding-div); 
    background-color:blue;
    content: 10px;
    display:inline-block;
    background-color: yellow;
background-color: orange;
    margin:20px ;
    background-color: azure;
}
.inline-block li{
    display:inline-block;
    
}