
.menu{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
    .li {
        
        font-size:18px;
        text-transform:uppercase;
        background-color: aqua;}
        .li:hover {
            color:#ff0000;
            cursor:pointer;
        
    }
    
    }
    