.flexfather {
    display: flex;
    flex-direction:column-reverse;
    
    flex-wrap: wrap;
    background-color: rgb(2, 38, 75);
  }
  
  .flexfather > div {
    background-color: #dacb04;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }