#align {
    width: 220px;
    height: 300px;
    border: 1px solid black; 
    display: flex;
    justify-content: center;
    flex-direction:row;
  }
  
  #align div {
    flex-direction:row;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
  }