#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    
}

div {
    background-color: darkgoldenrod;
    border: 3px solid black;
    font-size: 60px;
    text-align: center;

}
.eight {
    grid-column:span 2 ;
}
.one{
    grid-row:span 2;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      width: 100%;
      background-color: pink;
    }
  }