$text-trasform:uppercase;
$primary-color:rgb(53, 53, 143);
$secondary-color: rgb(212, 53, 79);
$display:flex;
.container{
    background-color: $secondary-color;
    border:2px solid black;
    font-size:30px;
    text-transform: $text-trasform;
    .first{
        color: $primary-color;
        display: $display;
        flex-direction: row;
        align-items:left ;
        text-transform: $text-trasform;
    }
    .second{
        color: beige;
        display: $display;
        flex-direction: row;
        align-items: center;
        text-transform: $text-trasform;
    }
}