p{color :red;
text-align: right;}
h1{color :yellow;
    text-align: right;}
h2{color :green;
    text-align: right;}
h3{color :blue;
    text-align: right;}
#para1{background-color :fuchsia;color:blue;
    text-align: center;}
.center{color :rgb(0, 195, 255);
    text-align: center;}
    p,h1{color :rgb(42, 112, 65);
        text-align: left;}